@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
    background-color: #e0e0e0;
    color: #333;
    max-width: max-content;
    margin: auto;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 16px;
    line-height: 1.5;
    word-wrap: break-word;
}

.main {
    max-width: 1012px;
    margin: 15px auto 0 auto;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 2px 0.1px #ccc;
}

.content {
    padding: 15px;
    background-color: #f0f0f0;
}

h2 {
    margin-bottom: 0;
    color: #4285f4;
}

h3 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    text-indent: 5px;
    line-height: 1;
    border-radius: 3px;
    box-shadow: 0 0 8px #00000033;
    padding: 5px;
    background-color: #e0e0e0;
    color: #4285f4;
}

hr {
    border: 1px solid #e0e0e0;
    margin-bottom: 15px;
}

.contacts {
    text-align: center;
    font-weight: 600;
}

.contacts p {
    vertical-align: text-bottom;
    font-size: 18px;
}

.contacts img {
    width: 21px;
    height: 21px;
    vertical-align: sub;
}

.skills ul {
    font-weight: 600;
    columns: 5;
}

.languages ul {
    columns: 3;
}

.position,
.degree,
.course {
    color: #f69d50;
}

.company,
.institution {
    color: #6cb6ff;
}

.location {
    color: #8ddb8c;
}

.period {
    color: #f47067;
}

@media all and (max-width: 800px) and (orientation: portrait) {
    .skills ul {
        columns: 2;
    }

    .languages ul {
        columns: 1;
    }
}

a {
    color: #4285f4;
}

a:hover {
    color: #1a73e8;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #1c2128;
        color: #acbac7;
    }

    .main {
        border: 0.5px solid #434c56;
        background-color: #22272e;
    }

    .content {
        background-color: #2d333b;
    }

    h2 {
        color: #acbac7;
    }

    h3 {
        background-color: #347d39;
        color: #fafbfc;
    }

    hr {
        border: 1px solid #5e6773;
    }

    a {
        color: #549bf5;
    }

    a:hover {
        color: #8e9aab;
    }
}
